Unleashed/AuthService/bin/
Unleashed/AuthService/obj/
Unleashed/CartService/bin/
Unleashed/CartService/obj/
Unleashed/DiscountService/bin/
Unleashed/DiscountService/obj/
Unleashed/InventoryService/bin/
Unleashed/InventoryService/obj/
Unleashed/NotificationService/bin/
Unleashed/NotificationService/obj/
Unleashed/OrderService/bin/
Unleashed/OrderService/obj/
Unleashed/ProductService/bin/
Unleashed/ProductService/obj/
Unleashed/ReviewService/bin/
Unleashed/ReviewService/obj/
Unleashed/ImgBBUploadService/obj/
Unleashed/ImgBBUploadService/bin/
Unleashed/EmailService/obj/
Unleashed/EmailService/bin/
Unleashed/Unleashed.AppHost/bin/
Unleashed/Unleashed.AppHost/obj/
*.json
Unleashed/Unleashed.ServiceDefaults/obj/
Unleashed/Unleashed.ServiceDefaults/bin/
.vs/
Unleashed/CartService/Migrations/20251101020908_init.cs
*.cs
